<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MazeGameDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MazeGameDesktop.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>42589</value>
            </setting>
            <setting name="DefaultRows" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultCols" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Algorithm" serializeAs="String">
                <value>0</value>
            </setting>
        </MazeGameDesktop.Properties.Settings>
    </userSettings>
</configuration>